.footer {
    background-color: var(--footer-background);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        color: var(--footer-color);
    }

    &__button {
        border: 2px solid var(--button-background);
        border-radius: 4px;
        height: 40px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--button-background);
        transition: color .5s ease, background-color .5s ease;

        &:hover {
            background-color: var(--button-background);
            color: white;
        }
    }
}