.form {
    &__field {
        margin-bottom: 25px;
    }

    &__label {
        margin-bottom: 5px;
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        color: #2699fb;
    }

    &__input {
        width: 100%;
        border-radius: 5px;
        border: 2px solid #bce0fd;
        background-color: #f1f9ff;
        padding: 10px;
    }

    &__button {
        display: block;
        margin: 50px auto;
    }
}